{% extends 'base.html.twig' %}

{% block title %}Hello MessageController!{% endblock %}

{% block body %}


    <h3>Conversations</h3>

    <h4>As A</h4>
    {% for conversation in convsA %}

        <a href="{{ path("app_conversation", {id:conversation.id}) }}">chat with {{ conversation.userB.email }}</a>

    {% endfor %}
    <h4>As B</h4>
    {% for conversation in convsB %}

        <a href="{{ path("app_conversation", {id:conversation.id}) }}">chat with {{ conversation.userA.email }}</a>

    {% endfor %}

    <h3>Start a new conversation</h3>

    {% if otherUsers|length > 0 %}
            {% for user in otherUsers %}
                <div>
                    <a href="{{ path('app_conversation_check', {id: user.id}) }}">
                        Chat with {{ user.email }}
                    </a>
                </div>
            {% endfor %}
    {% else %}
        <p>You already have conversations with all users.</p>
    {% endif %}
{% endblock %}
